<%- include('./partials/header.ejs') %>

<%- include('./partials/navigationUsuarioAdministrador.ejs') %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <title>Consumo de agua</title>
</head>
<body>
      <div class="container form-condimodeagua">
        <div class="row">
            <h1>Usuarios Registrados</h1>
            <div class="card col-md-3 mx-auto my-5 table-responsive" style="width: 66rem;">
             <div class="btn_create"><a href="/Configuracion/Crear" class="btn_Acciones_Save"><ul><span class="icon-plus" ></span> CREAR</ul><i></i></a></div>   
              <table id="Usuarios" class="table table-sm table-primary table-hover table-bordered ">
                <caption>Lista de tarifas</caption>
                <thead class="table-info">
                  <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>            
                        <th scope="col">Direccion</th>  
                        <th scope="col">Numero de Telefono</th>  
                        <th scope="col">Sexo</th>
                        <th scope="col">Rango</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">ACCIONES</th>     
                  </tr>
                </thead>
                <tbody>
                  <% for(i=0; i < Usuarios.recordset.length; i++) { %>
                    <tr>  
                        <td ><%= Usuarios.recordset[i].ID %></td>  
                        <td ><%= Usuarios.recordset[i].Nombre %></td>  
                        <td ><%= Usuarios.recordset[i].ApellidoPa %></td>
                        <td ><%= Usuarios.recordset[i].ApellidoMa %></td>
                        <td ><%= Usuarios.recordset[i].Direccion %></td>
                        <td ><%= Usuarios.recordset[i].NumTel %></td>
                        <td ><%= Usuarios.recordset[i].Sexo %></td>
                        <td ><%= Usuarios.recordset[i].Rango %></td>
                        <td ><%= Usuarios.recordset[i].Password %></td>
                        <td id="UsuariosregAcciones">
                        <a class="btn_Acciones_Edit" href="/Configuracion/Editar/<%= Usuarios.recordset[i].ID %>"><ul><span class="icon-pencil" ></span> EDITAR</ul><i class='bx bxs-edit'></i></a>
                        <a class="btn_Acciones_Delete" onclick="confirm(<%= Usuarios.recordset[i].ID %>);" ><ul ><i  class="icon-bin"></i>ELIMINAR </ul><i ></i></a>
                        <a class="btn_Acciones_Save" href="" class="btn btn-outline-danger">GUARDAR<i class='bx bxs-trash-alt'></i></a>                   
                        </td>
                    </tr>   
                <% } %>
                </tbody>
              </table>
            </div>
        </div>
     </div>

          <br>
          <br>
        
    </div>
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.24/dist/sweetalert2.all.min.js"></script>
  
    
    <script>
                $(document).ready(function () {
            $('#Usuarios').DataTable();
        });
      function confirm(ID) {
        const swalWithBootstrapButtons = Swal.mixin({
            })
            event.preventDefault();
            swalWithBootstrapButtons.fire({
            title: '¿Está seguro de eliminar el registro?',
            text: "¡Esta acción no se puede revertir!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: '¡Si, eliminar!',
            cancelButtonText: '¡No, cancelar!',
            background: '#fff url(/assets/imagenes/background.jpg)',
            backdrop: `
              rgba(0,0,123,0.4)
            `,
            timer: 5000,
            timerProgressBar: true,
          }).then((result) => {
            if (result.isConfirmed) {
              Swal.fire(
                '¡Eliminado!',
                'Su registro ha sido eliminado.',
                'success'
              )
              window.location ='/Configuracion/Eliminar/'+ID;
            } else if (
              /* Read more about handling dismissals below */
              result.dismiss === Swal.DismissReason.cancel
            ) {
              swalWithBootstrapButtons.fire(
                'Cancelado',
                'Tu registro está a salvo :)',
                'error'
              )
            }
          })
      }
    </script>

        <%- include('./partials/footer.ejs') %>